<div style="margin:auto;width: 70%;padding: 10px">
    <br />
    <h3>create new category through this button</h3>
    <div style = "margin-left:500px">
      <%= link_to 'new category', new_category_path, :class => "btn btn-primary" %>
    </div>
    <br />
    <h2>List of Categories</h2>
<table class="table table-bordered">
      <tr>
       <th>category name</th>
       <th>Description</th>
      </tr>
   <% if @categories.present? %>
     <% @categories.each do |category| %>
       <tr>
         <td><%= category.name %> <%= link_to 'new expense', new_category_expense_path(category) %></td>
         <td><%= category.description %></td>
       </tr>
     <% end %>
   <% end %>
</table>
</div>
