<div style="margin:auto;width: 80%;padding: 0px">
    <div style = "margin-left:100px;display: inline;padding-bottom: 20px">
        <h3 style="display: inline;">All Categories</h3>
       <h4 style="display: inline;padding-left: 400px">create a new category</h4>  
       <%= link_to 'new category', new_category_path, :class => "btn btn-primary" %>
     </div>
     <br />
    <table class="table table-bordered">
      <tr>
       <th>category name</th>
       <th>Description</th>
      </tr>
   <% if @categories.present? %>
     <% @categories.each do |category| %>
       <tr>
         <td><%= category.name %> <%= link_to 'new expense', new_category_expense_path(category) %></td>
         <td><%= category.description %></td>
       </tr>
     <% end %>
   <% end %>
</table>
</div>
